name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    uses: matt-riley/matt-riley-ci/.github/workflows/go-ci.yml@v1
    with:
      go-version-file: go.mod
      run-race: true
      run-vet: true

  test-go-client:
    uses: matt-riley/matt-riley-ci/.github/workflows/go-ci.yml@v1
    with:
      go-version-file: clients/go/go.mod
      working-directory: clients/go
      run-vet: true
